.Navbar {
  position: sticky;
  z-index: 2;
  top: 0;
  height: 100px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
}

.Navbar .navbar-logo {
  height: 90px;
}

.Navbar .navbar-btn {
  cursor: pointer;
  border-style: none;
  background-color: inherit;
  width: 60px;
}

.hamburger {
  transition: all 500ms ease-in-out;
  color: var(--primary-color);
}

.Navbar .rotateViewBox {
  transform: rotate(0.625turn);
}

.Navbar .rotateRect {
  transform: rotate(90deg) translate(0px, -33px);
}

.Navbar .invisible {
  width: 0;
  opacity: 0;
}

.Menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  transition: all 300ms ease-in-out;
  opacity: 1;
  visibility: visible;
}

.Menu a {
  color: var(--text-color);
  text-decoration: none;
  padding: 20px;
  font-size: 24px;
  margin: 10px 0;
}

.Menu a:hover {
  border-radius: 3px;
}

.menu-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (min-width: 768px) {
  .Menu {
    position: fixed;
    top: 100px;
    left: auto;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .Menu a {
    font-size: 18px;
    padding: 10px;
    margin: 0;
  }

  .Menu a {
    transition:
      background-color 300ms ease-in-out,
      color 300ms ease-in-out,
      border-radius 300ms ease-in-out;
  }

  .Menu a:hover {
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 3px;
  }
}
