:root {
  --bg-color: #f5f5f5;
  --text-color: #333;
  --card-bg-color: #fff;
  --card-bg-color1: #444;
  --link-color: #1a73e8;
  --spinner-color: #333;
  --spinner-color1: #f5c24f;
  --green-color: #4caf50;
  --red-color: #e57373;
}

[data-theme="dark"] {
  --bg-color: #333;
  --text-color: #f5f5f5;
  --card-bg-color: #444;
  --card-bg-color1: #c5c4c4;
  --link-color: #4da3ff;
  --spinner-color: #f5c24f;
  --spinner-color1: #333;
  --green-color: #4caf50;
  --red-color: #e57373;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--link-color);
}

.card {
  background-color: var(--card-bg-color);
}